<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Wish list</h1>
<ul>
<% wishes.forEach( el => { %>
        <li class='wishItem' data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.wish %></span>
            <span class='del'> Delete </span>
        </li>
<% }) %>    
</ul>

<h2><%= user.userName %> has <%= left %> things left on their wishlist.</h2>

<form action="/wishes/createWish" method='POST'>
    <input type="text" placeholder="Enter Wish Item" name='wishItem'>
    <input type="submit">
</form>
<a href="/logout">Logout</a>
<a class="btn btn-primary" href="/todos">See my todos</a>

<script src="js/main.js"></script>
</body>
</html>